
.category{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    height: 10vh;
    gap: 7.5%;
    scrollbar-width: none;
}

.category  :first-child{
    border-radius: 5px;
    border: none;
}

@media (max-width:768px) {
    .category {
        justify-content:flex-start;
        gap: 1%;
        overflow-x:auto;
        scrollbar-width: none;
        
    }
        .category::-webkit-scrollbar {
            display: none;
        }
}
    


   